!!!
%html
  %head
    %title Clix 'em All
  %body
    %p
      On this site you can register clix that are missing in a set.
      %br
      %br
      Later on you can register new sets, and edit already added figures
      %br
      %a{:href => "/add/clix"}
        Add new figure
